.container {
  margin-top: 5rem;
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.products-list,
.create-product {
  background-color: #3c4b75;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  width: 80%;
  margin: 0 auto;
}

.products-list h2,
.create-product h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.products-list table,
.create-product table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.products-list th,
.products-list td,
.create-product th,
.create-product td {
  padding: 8px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  word-wrap: break-word;
}

.products-list th,
.create-product th {
  background-color: #2d3b60;
}

.products-list td button.eliminar,
.create-product td button.eliminar {
  background-color: #dc3545;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  display: block;
  width: 100%;
}

.products-list td button.editar,
.create-product td button.editar {
  background-color: #0d6efd;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  display: block;
  width: 100%;
}

.products-list td button.eliminar:hover,
.create-product td button.eliminar:hover {
  background-color: #c82333;
}

.products-list td .button-container,
.create-product .button-container {
  background-color: transparent;
}

.products-list td button.editar:hover,
.create-product td button.editar:hover {
  background-color: #0c63e4;
}

.create-product button {
  background-color: #2d3b60;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.create-product button:hover {
  background-color: #3c4b75;
}

.create-product label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff;
}

.create-product input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.create-product .button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: transparent;
}

@media (max-width: 768px) {
  .products-list table,
  .create-product table {
    font-size: 14px;
  }
}
