<div class="container mt-5">
  <div class="products-container">
    <div class="table-responsive products-list">
      <h2>Listado de Productos</h2>
      <table class="table table-dark table-striped">
        <tr>
          <th>Precio</th>
          <th>ID</th>
          <th>Nombre</th>
          <th>Categoría</th>
          <th>Usuario</th>
          <th>Acciones</th>
        </tr>
        <tr *ngFor="let producto of productos">
          <td>{{ producto.precio }}</td>
          <td>{{ producto._id }}</td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.categoria.nombre }}</td>
          <td>{{ producto.usuario.nombre }}</td>
          <td>
            <div class="button-container">
              <button class="btn btn-danger btn-sm eliminar" (click)="deleteProducto(producto._id)">Eliminar</button>
              <button class="btn btn-info btn-sm editar" (click)="loadProducto(producto)">Editar</button>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="create-product">
      <h2>Nuevo Producto</h2>
      <div class="form-group input-container">
        <label for="nombre">Nombre:</label>
        <input class="form-control form-control-sm rounded text-center" id="nombre" type="text" [(ngModel)]="nuevoProducto.nombre">
      </div>
      <button class="btn btn-primary" (click)="createProducto(nuevoProducto)">Crear</button>
    </div>
  </div>
</div>
