<div class="container mt-5 extra-padding-top">
  <div *ngIf="!mostrarFormularioEdicion" class="table-responsive usuarios-container rounded-3 py-3 mb-5 custom-table">
    <h2 class="text-center text-white centered-title">Lista de Usuarios</h2>

    <table class="table table-dark table-striped">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Estado</th>
        <th>Google</th>
        <th>Acciones</th>
      </tr>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.uid }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.correo }}</td>
        <td>{{ usuario.rol }}</td>
        <td>{{ usuario.estado }}</td>
        <td>{{ usuario.google }}</td>
        <td>
          <div class="button-container">
            <button class="btn btn-danger btn-sm btn-block mb-2 eliminar" (click)="deleteUser(usuario.uid)">Eliminar</button>
            <button class="btn btn-info btn-sm btn-block editar" (click)="loadUser(usuario)">Editar</button>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="!mostrarFormularioEdicion" class="usuarios-container rounded-3 py-3 mb-4 custom-form create-form">
    <h2 class="text-center text-white">Crear Usuario</h2>
    <div class="form-group input-container">
      <label for="nombre">Nombre</label>
      <input class="form-control form-control-sm rounded text-center" id="nombre" type="text" [(ngModel)]="newUser.nombre" placeholder="Nombre" />
    </div>
    <div class="form-group input-container">
      <label for="correo">Correo</label>
      <input class="form-control form-control-sm rounded text-center" id="correo" type="email" [(ngModel)]="newUser.correo" placeholder="Correo" />
    </div>
    <div class="form-group input-container">
      <label for="contraseña">Contraseña</label>
      <input class="form-control form-control-sm rounded text-center" id="contraseña" type="password" [(ngModel)]="newUser.password" placeholder="Contraseña" />
    </div>
    <div class="btn-container">
      <button class="btn btn-info btn-sm btn-block form-control" (click)="createUser(newUser)">Crear</button>
      <!-- Mostrar mensajes de error de creación -->
      <div *ngFor="let error of erroresCrear" class="error-message">{{ error }}</div>
    </div>
  </div>

  <div *ngIf="mostrarFormularioEdicion" class="edit-user bg-secondary rounded-3 py-3 custom-form">
    <h2 class="text-center text-white">Editar Usuario</h2>
    <div class="form-group input-container">
      <label for="editNombre">Nombre:</label>
      <input class="form-control form-control-sm rounded text-center" id="editNombre" type="text" [(ngModel)]="selectedUser.nombre">
    </div>
    <div class="form-group input-container">
      <label for="editCorreo">Correo:</label>
      <input class="form-control form-control-sm rounded text-center" id="editCorreo" type="email" [(ngModel)]="selectedUser.correo">
    </div>
    <div class="form-group input-container">
      <label for="editRol">Rol:</label>
      <input class="form-control form-control-sm rounded text-center" id="editRol" type="text" [(ngModel)]="selectedUser.rol">
    </div>
    <div class="form-group input-container">
      <label for="editContraseña">Nueva Contraseña:</label>
      <input class="form-control form-control-sm rounded text-center" id="editContraseña" type="password" [(ngModel)]="selectedUser.password">
    </div>
    <div class="button-container">
      <button class="btn btn-info btn-sm btn-block" (click)="updateUser(selectedUser)">Actualizar</button>
      <button class="btn btn-danger btn-sm btn-block" (click)="cancelEditing()">Cancelar</button>
    </div>
    <!-- Mostrar mensajes de error de actualización -->
    <div *ngFor="let error of erroresActualizar" class="error-message">{{ error }}</div>
  </div>
</div>
<style>
  .extra-padding-top {
    padding-top: 50px;
  }
  @media (min-width: 768px) {
    .custom-table {
      max-width: 80%;
      margin: auto;
    }
    .custom-form {
      max-width: 70%;
      margin: auto;
    }
  }
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }
</style>

