<!-- categorias.component.html -->

<h2>Listado de Categorías</h2>

<div *ngIf="categorias.length === 0">No hay categorías disponibles.</div>

<ul *ngIf="categorias.length > 0">
  <li *ngFor="let categoria of categorias">
    ID: {{ categoria._id }} <br>
    Nombre: {{ categoria.nombre }} <br>
    <button (click)="loadCategoria(categoria)">Editar</button>
    <button (click)="deleteCategoria(categoria._id)">Eliminar</button>
  </li>
</ul>

<h2>Nueva Categoría</h2>

<div>
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" [(ngModel)]="nuevaCategoria.nombre">
</div>

<button (click)="createCategoria(nuevaCategoria)">Crear</button>

<h2>Editar Categoría</h2>

<div *ngIf="selectedCategoria">
  <div>
    <label for="edit-nombre">Nombre:</label>
    <input type="text" id="edit-nombre" [(ngModel)]="selectedCategoria.nombre">
  </div>

  <button (click)="updateCategoria(selectedCategoria)">Guardar</button>
</div>
