<div class="container mt-5">
  <div class="categories-container">
    <div class="table-responsive categories-list">
      <h2>Listado de Categorías</h2>
      <table class="table table-dark table-striped">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
        <tr *ngFor="let categoria of categorias">
          <td>{{ categoria._id }}</td>
          <td>{{ categoria.nombre }}</td>
          <td>
            <div class="button-container">
              <button class="btn btn-danger btn-sm btn-block mb-2 eliminar" (click)="deleteCategoria(categoria._id)">Eliminar</button>
              <button class="btn btn-info btn-sm btn-block editar" (click)="loadCategoria(categoria)">Editar</button>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="create-category">
      <h2>Nueva Categoría</h2>
      <div class="form-group input-container">
        <label for="nombre">Nombre:</label>
        <input class="form-control form-control-sm rounded text-center" id="nombre" type="text" [(ngModel)]="nuevaCategoria.nombre">
      </div>
      <button class="btn btn-primary" (click)="createCategoria(nuevaCategoria)">Crear</button>
    </div>
  </div>
</div>
